.blue-team {
  position: fixed;
}

.red-team {
  position: fixed;
  text-align: right;
  left: 1680px;
  width: 240px;
}

p {
  all: unset;
  min-width: 112.5px;
  font-size: 24px;
  display: inline-block;
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3.75px 5px;
}

.top {
  top: 121px;
}

.jungle {
  top: 224px;
}

.mid {
  top: 327px;
}

.adc {
  top: 430px;
}

.supporter {
  top: 533px;
}

.image-container {
  position: absolute;
  height: 67px;
  top: 36px;
}

img {
  display: block;
  height: 100%;
  width: auto;
}

.blue-team .image-container {
  left: 76px;
}

.red-team .image-container {
  right: 76px;
}
