:root {
  --green: #142c13;
  --gold: #c7a150;
  --blue: #0034f7;
  --white: #f8f8f8;
  --riot-white: #e4e5e7;
  --t1-red: #e4002b;
}

@font-face {
  font-family: 'Inter';
  src: url(./Inter.ttf);
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url(./SpoqaHanSansNeo-Bold.ttf);
}

@font-face {
  font-family: 'Antonio';
  src: url(./Antonio-VariableFont_wght.ttf);
}

.blue-team {
  position: absolute;
}

.red-team {
  position: absolute;
  text-align: right;
  right: 0px;
}

p {
  all: unset;
  min-width: 112.5px;
  /*
  font-size: 24px;
  */
  font-size: 25px;
  display: inline-block;
  color: var(--riot-white);
  background-color: var(--blue);
  font-family: 'Antonio', Arial, Helvetica, sans-serif;
  /*
  padding: 3.75px 5px;
  */
  padding: 0px 5px 3px 5px;
}

.faker {
  font-weight: bold;
  background-color: var(--gold);
}

.t1 {
  font-weight: bold;
  background-color: var(--t1-red);
}

.top {
  top: 121px;
}

.jungle {
  top: 224px;
}

.mid {
  top: 327px;
}

.adc {
  top: 430px;
}

.supporter {
  top: 533px;
}

.image-container {
  position: absolute;
  height: 67px;
  top: 36px;
}

img {
  display: block;
  height: 100%;
  width: auto;
}

.blue-team .image-container {
  left: 76px;
}

.red-team .image-container {
  right: 76px;
}

#waiting {
  background-color: black;
  width: 1920px;
  height: 1080px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#waiting div {
  margin: 0 auto;
  text-align: center;
}

#waiting p {
  all: unset;
  display: block;
  color: #c1c1c1;
  font-size: 75px;
  font-family: 'Inter', 'Spoqa Han Sans', 'Segoe UI', Sans-Serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#waiting h1 {
  all: unset;
  display: block;
  color: #e2012d;
  font-size: 200px;
  font-family: 'Inter', 'Spoqa Han Sans', 'Segoe UI', Sans-Serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: bold;
}

#signature {
  position: absolute;
  bottom: 7px;
  left: 7px;
  width: 290px;
  height: 102px;
  background-color: var(--blue);
  text-align: center;
}

#signature p {
  color: var(--riot-white);
  font-size: 55px;
  line-height: 90px;
  background-color: transparent;
  line-height: 100px;
  transform: rotate(-180deg);
}
